/* Calculadora */
#seg-principal {
  text-align: center;
  margin: auto;
  max-width: 1350px !important;
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#errorMessage{
  margin-top: 1em;
  margin-bottom: 1em;
}

#seg-principal-titulo {
  text-align: center;
  margin: auto;
  max-width: 366px;
  min-width: 120px;
}

h4 {
  margin: auto;
  padding-bottom: 25px;
}

h2 {
  margin: auto;
  padding-top: 15px;
}

#pokedex {
  margin: auto !important;
  position: relative !important;
  width: 50% !important;
  min-height: 100% !important;
  height: 300px !important;
  overflow: auto !important;
}

#Changelogs {
  margin: auto !important;
  position: relative !important;
  width: 80% !important;
  max-width: 500px !important;
  height: 300px !important;
  overflow: auto !important;
}

#campos {
  margin: auto;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1320px;
  height: 100%;
}

#Aceptar {
  margin: auto;
  position: relative;
}

#footer {
  text-align: center;
  margin: auto;
  position: relative;
  width: 146px;
}

.text-input-numb {
  max-width: 80px !important;
  text-align: center !important;
}

.text-input-numb-2 {
  min-width: 194px !important;
  text-align: center !important;
  margin: auto !important;
}

.text-input-tipo {
  width: 135px !important;
  text-align: center !important;
  margin: auto !important;
}

.text-input-numb-3 {
  max-width: 80px !important;
  text-align: center !important;
  color: red !important;
}

.text-input-label-0 {
  min-width: 86px !important;
}

.text-input-label-1 {
  width: 146px;
}

.text-input-label-2 {
  width: 151px;
}

.text-input-label-3 {
  width: 109px;
}

.calc-element {
  text-align: center;
  float: left;
  position: relative;
}

.pkmn-img {
  vertical-align: middle !important;
  margin-left: -15px !important;
  margin-right: -2px !important;
  max-height: 40px !important;
  margin-top: -1.5em !important;
  margin-bottom: -1em !important;
}

#hp {
  width: 80px;
}
/* Calculadora */
.tipos{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
/* Pokedex */
#estaBase-dex{
  text-align: left !important;
  margin-left: 85px !important;
}
.tamimg{
  width: 185px !important;
}
.cmbPokemon{
  margin: auto;
  position: relative;
  text-align: center !important;
  max-width: 250px;
}
.parrafo{
  margin-top: 9px !important;
}
.label-nivel1 {
  text-align: left !important;
  font-size: 15px !important;
  width: 100px;
}
.label-nivel2 {
  text-align: left !important;
  font-size: 15px !important;
  width: 115px;
}
.label-nivel3 {
  text-align: left !important;
  font-size: 15px !important;
  width: 130px;
}
.label-nivel4 {
  text-align: left !important;
  font-size: 15px !important;
  width: 145px;
}
.label-nivel5 {
  text-align: left !important;
  font-size: 15px !important;
  width: 160px;
}
.label-nivel6 {
  text-align: left !important;
  font-size: 15px !important;
  width: 175px;
}